## Module 2 Assignment: Salary Function

In [161]:
# Import the neccessary packages
import pandas as pd
import zipfile
import os

In [168]:
# Step1/ 4: Import Data
# Read the file
# Error handling in case the file does not exist
file_path = 'Total.csv'
try:
    df = pd.read_csv(file_path, na_values='Not Provided')
except Exception as e:
    print(f'Error reading the file: {e}')

         EmployeeName                                        JobTitle  \
0      NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1        GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2      ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4     PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5      DAVID SULLIVAN                       ASSISTANT DEPUTY CHIEF II
6           ALSON LEE              BATTALION CHIEF, (FIRE DEPARTMENT)
7       DAVID KUSHNER                  DEPUTY DIRECTOR OF INVESTMENTS
8      MICHAEL MORRIS              BATTALION CHIEF, (FIRE DEPARTMENT)
9  JOANNE HAYES-WHITE          CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19
5  118602.00      8601.00  189082.74       NaN  316285.74         316285.74
6   92492.01     89062.90  134426.14       NaN  315981.05         315981.05
7  256576.96         0.00   51322.50       NaN  307899.46         307899.46
8  176932.64     86362.68   40132.23       NaN  303427.55         303427.55
9  285262.00         0.00   17115.73       NaN  302377.73         302377.73

   Year
0  2011
1  2011
2  2011
3  2011
4  2011
5  2011
6  2011
7  2011
8  2011
9  2011

In [163]:
# Step 2: Create Employee Function
# Create a function to filter employee's data
def filter_employee_data(employee_name): 
    # Return the details of the entered employee in case of multiple return all
    # Ignore case of the typed name
    emp_data = df[df['EmployeeName'].str.lower() == employee_name.lower()]
    return emp_data.to_dict()

In [164]:
# Step 3: Data Processing with Dictionary
# Filter and Process employee's details using dictionary approach
emp_dict = filter_employee_data('GARY JIMENEZ') # change the name of employee inside parentheses accordingly
emp_dict = {x: emp_dict[x].values() for x in emp_dict.keys()}

# Format employee's name to proper case
emp_dict['EmployeeName'] = [str(x).title() for x in emp_dict['EmployeeName']]

# Format job title to proper case
emp_dict['JobTitle'] = [str(x).title().replace(' Iii', ' III').replace(' Ii', ' II') for x in emp_dict['JobTitle']]

In [165]:
# Step 5: Export Employee Details
# Create a data frame of employee's details and save as csv file
emp_df = pd.DataFrame(data=emp_dict) # Create a data frame
csv_file = 'Employee Profile.csv' # Path to save the CSV
emp_df.to_csv(csv_file, index=False) # Save the data frame to CSV

# Compress the CSV file into a ZIP
with zipfile.ZipFile('Employee Profile.zip', 'w', zipfile.ZIP_DEFLATED) as zipf:
    zipf.write(csv_file)

# Remove the original CSV file after zipping
os.remove(csv_file)