## Module 2 Assignment: Salary Function

In [156]:
# Import the neccessary packages
import pandas as pd
import zipfile
import os

In [157]:
# Step1/ 4: Import Data
# Read the file
# Error handling in case the file does not exist
file_path = 'Total.csv'
try:
    df = pd.read_csv(file_path)
except Exception as e:
    print(f'Error reading the file: {e}')

C:\Users\ABDALLAH\AppData\Local\Temp\ipykernel_23252\3498756995.py:6: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...,...
312877,Daniel W Plautz,Public Service Trainee,0.0,0.0,0.0,0.0,0.00,0.00,2018
312878,David J Thompson,Deputy Sheriff,0.0,0.0,0.0,0.0,0.00,0.00,2018
312879,Keiko Weng Yee Lau,Public Service Trainee,0.0,0.0,0.0,0.0,0.00,0.00,2018
312880,David Wong,Deputy Sheriff,0.0,0.0,0.0,0.0,0.00,0.00,2018
312881,Debora E Howard,Recreation Leader,0.0,0.0,0.0,0.0,0.00,0.00,2018

In [158]:
# Step 2: Create Employee Function
# Create a function to filter employee's data
def filter_employee_data(employee_name): 
    # Return the details of the entered employee in case of multiple return all
    # Ignore case of the typed name
    emp_data = df[df['EmployeeName'].str.lower() == employee_name.lower()]
    return emp_data.to_dict()

In [159]:
# Step 3: Data Processing with Dictionary
# Filter and Process employee's details using dictionary approach
emp_dict = filter_employee_data('GARY JIMENEZ') # change the name of employee inside parentheses accordingly
emp_dict = {x: emp_dict[x].values() for x in emp_dict.keys()}

# Format employee's name to proper case
emp_dict['EmployeeName'] = [str(x).title() for x in emp_dict['EmployeeName']]
# Format job title to proper case

emp_dict['JobTitle'] = [str(x).title().replace(' Iii', ' III').replace(' Ii', ' II') for x in emp_dict['JobTitle']]

In [160]:
# Step 5: Export Employee Details
# Create a data frame of employee's details and save as csv file
emp_df = pd.DataFrame(data=emp_dict) # Create a data frame
csv_file = 'Employee Profile.csv' # Path to save the CSV
emp_df.to_csv(csv_file, index=False) # Save the data frame to CSV

# Compress the CSV file into a ZIP
with zipfile.ZipFile('Employee Profile.zip', 'w', zipfile.ZIP_DEFLATED) as zipf:
    zipf.write(csv_file)

# Remove the original CSV file after zipping
os.remove(csv_file)